* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 90%;
    margin: 0px auto;
}
body>*{
margin-bottom: 40px;
}
footer{
    margin-bottom: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0;
}

header>* {
    width: 50%;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
}

.logo-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* .logo-nav ul {} */
nav ul li {
    display: inline;
    margin-right: 60px;

}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    font-family: "Poppins", sans-serif;
}

.cart-division {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.landingpage {
    width: 100%;
    height: 512px;
    background-color: #C1DCDC;
    border-radius: 55px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.bannertextcontainer{
    width:50%;
} 

/* .vl {
    border-left: 1px solid black;
    height: 24px;
    display: inline-block;
}

.cart-division i,
.cart-division i::before {
    width: 24px;
    height: 24px;
    line-height: 24px;
} */
h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    /* margin-left: 60px;
    margin-top: 80px; */
    padding-left: 60px;
    padding-top: 60px;
}

.plantcount {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    padding-left: 60px;
    padding-top: 20px;
}

.plant {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* padding-left: 60px;
    padding-top: 60px;  */
}

.customercount {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    padding-left: 60px;
    padding-top: 20px;
}

.customer {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* padding-left: 60px;
    padding-top: 60px;  */
}

.sub1 {
    display: flex;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.line2 {
    padding-left: 45px;

}
.sub2{
    width: 60%;
    height: 64px;
    border-radius: 12px;
    background-color: white;
    margin-left: 60px;
    margin-top: 20px;
}

.input{
    border: none;
    text-align: center;
    width: 40%;
    height: 64px;
    border-radius:12px;
}
::placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 35px;
    color: #1E1E1E80;
    text-align: center;
    padding-left: 5px;
}
.searchtab{
    width: 10%;
    height: 52px;
    border-radius: 12px;
    background-color: #C1DCDC;
    padding-top: 13px;
    padding-left: 15px;
    /* margin-right: 10px; */
    /* margin-bottom: -39px; */
    /* padding-bottom: 28px; */
    margin: 1px 6px;
    position: relative;
    top: 5px;
    right: 0px;
    
}
.sub2{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bannerimagecontainer{
    width: 50%;
    height: 518.98px;
    position: relative;
    left: 80px;
    bottom: 0px;
    top:8px;
}
.plantsections{
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;
    
}
.plantsellingdes{
    width:20%;
    height:264px;
    gap:24px;
}
.plantsellingdes h2{
    width:256px;
    height:96px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:32px;
    line-height: 40px;
    /* font-weight: lighter; */
}
.plantsellingdes p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size:18px;
    line-height: 27px;
}
.plantsellingdes button{
    border-radius: 8px;
    width: 168px;
    height: 51px;
    padding: 12px 24px 12px 24px;
    background-color: #C1DCDC;
    gap:10px;
    border-style: none;
    margin-top: 10px;
    box-shadow: 5px 10px 18px #888888;
}
.seemore{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
    color: #1E1E1E;
}

.naturalplant{
    width:20%;
    height:436px;
    gap:12px;
}
.naturalplant img{
    width:299.33px;
    border-radius: 12px;
    height: 363px;
    color:#B6B5B5;

}
.naturalplant .name{
    color:#1E1E1E;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
}
.naturalplant .price{
    color: #1E1E1E80;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
}
.artificalplants{
    width:20%;
    height:436px;
    gap:12px;
}
.artificalplants img{
    width:299.33px;
    border-radius: 12px;
    height: 363px;
    color: #B6B5B5;
}
.artificalplants .name{
    color:#1E1E1E;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
}
.artificalplants .price{
    color: #1E1E1E80;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
}
.artificalplant{
    width:20%;
    height:436px;
    gap:12px;

}

.artificalplant img{
    width:299.33px;
    border-radius: 12px;
    height: 363px;
    color: #B6B5B5;
}
.artificalplant .name{
    color:#1E1E1E;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
}
.artificalplant .price{
    color: #1E1E1E80;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
}
.aboutus h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:32px;
    line-height: 40px;
    text-align: center;
     padding-top: 40px; 
}
.aboutus p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px; 
    color:#1E1E1E80;
    text-align: center;
    padding-top: 10px;
}
.threesections{
    display: flex;
    margin-top: 60px;
}
.sectionone{
    width:33.33%;
    height:213px;
    gap:12px;
}
.sectionone img{
    width:96px;
    height:96px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    left: 210px;
    margin-bottom: 15px;
    box-shadow: 5px 10px 18px #fffbfb18;
}
.sectionone h4{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 10px;

}
.sectionone p{
    color: #1E1E1E80;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
    text-align: center;
    padding-top: 10px;

}
.sectiontwo{
    width:33.33%;
    height:213px;
    gap:12px;
}
.sectiontwo img{
    width:96px;
    height:96px;
    position: relative;
    left: 210px;
    margin-bottom: 15px;
}
.sectiontwo h4{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 10px;

}
.sectiontwo p{
    color: #1E1E1E80;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
    text-align: center;
    padding-top: 10px;

}
.sectionthree{
    width:33.33%;
    height:213px;
    gap:12px;
}
.sectionthree img{
    width:96px;
    height:96px;
    position: relative;
    left: 210px;
    margin-bottom: 15px;
}
.sectionthree h4{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 50px;

}
.sectionthree p{
    color: #1E1E1E80;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
    text-align: center;
    padding-top: 10px;

}
.category h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:32px;
    line-height: 40px;
    text-align: center;
    padding-top: 40px;
    color:#1E1E1E;
}
.category p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px; 
    color:#1E1E1E80;
    text-align: center;
    padding-top: 10px;
    color:#1E1E1E80;
    margin-bottom: 10px;
}
.categorysection{
       /* width: 111%; */
       height: 841px;
       background-color: #C1DCDC;
       margin-top: 100px;
       /* margin-left: -85px; */
       display: flex;
       justify-content: space-evenly;
       /* height:400px; */
       margin-left:-5.5%;
       margin-right: -5.5%;
    
}
.categorysectionone{
    width: 30%;
    height: 512px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.categorysectionone p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: black;
}
.categorysectionone img{
    width: 352px;
    height: 512px;
    border-radius: 12px;
    background-color: white;
    text-align: center;
}
.categorysectiontwo{
    width: 30%;
    height: 512px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
}
.categorysectiontwo img{
    width: 352px;
    height: 512px;
    border-radius: 12px;
    background-color: white;
}
.categorysectiontwo p.name{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:18px;
    line-height: 27px; 
    color:#1E1E1E;
    
}
/* .categorysection p{
    margin-bottom: 15px;
    color: #1E1E1E80;
    font-size:18px;
    line-height: 27px; 
    font-weight: 500;
    text-align: center;
} */
.categorysectiontwo button{
    width: 147px;
    height: 51px;
    border-radius: 8px;
    padding: 12px 24px 12px 24px;
    gap:10px;
    border-style: none;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    /* border: 1px solid black; */
}
.explore{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px; 
    color:#1E1E1E;
    text-align: center;
    
}
.categorysectionthree{
    width: 30%;
    height: 512px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.categorysectionthree p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:18px;
    line-height: 27px; 
    color:black;
}
.categorysectionthree img{
    width: 352px;
    height: 512px;
    border-radius: 12px;
    background-color: white;
}
.review h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:32px;
    line-height: 48px;
    text-align: center;
     padding-top: 40px; 
    color:black;
    text-align: left;
}
.reviewone{
    width:50%;
    height:330px;
    background-color: #C1DCDC;
    margin-top: 30px;
    border-radius: 12px;
}
 .reviewone p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height:27px;
    padding-left:40px;
    padding-top: 40px;

}

.textportion img{
    height: 205.99px;
    /* position: relative;
    /* bottom: 20px; */
    /* top: 40px;
    left: 20px;  */
}
.textportion h5{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:32px;
    line-height: 48px;
    color: #1E1E1E;
    position: relative;
    bottom: 160px;
    left: 120px;
}
.textportion .designation{
    color:#1E1E1E80;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:12px;
    line-height:18px;
    position: relative;
    top: -200px;
    /* bottom: -168px; */
    left: 80px;
}
.ratingportion .rating{
    color:#1E1E1E;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:18px;
    line-height: 27px;
   
}
.ratingportion img{
    width:20px;
    height:20px;
    position: relative;
    top: 65px;
    left: 15px;
}
.twoportions{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.ratingportion{
    position: relative;
    top: -115px;
    left: -160px;
}
.reviewtwo{
    width: 45%;
    height: 330px;
    background-color: #C1DCDC;
    margin-top: 30px;
    position: relative;
    left: 155px;
    border-radius: 12px;
}
.reviewtwo p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height:27px;
    padding-left:40px;
    padding-top: 40px;

}
.reviewsections{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.reviewheadingsection{
    display: flex;
    justify-content: space-between;
}
footer{
    height:400px;
    margin-left:-5.5%;
    margin-right: -5.5%;
    background-color: #C1DCDC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.footerinfo{
    width:50%;
}
/* .footer-logo{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size:18px;
    line-height:29.27px;
} */
.footer-logo img{
    margin-top: 80px;
    margin-left: 80px;
}
.footerinfo p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height:27px;
    color:#1E1E1E80;
    margin-top: 20px;
    margin-left: 80px;

}
.logos{
    margin-top: 20px;
    margin-left: 80px;
}
.logos img{
    margin-right: 20px;
}
.copywright{
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height:27px;
    color:#1E1E1E80;
}
.footercontacts{
    width:50%;
}
.footercontactslist{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 75px;
    /* gap: 1px; */
    align-content: stretch;
    align-items: baseline;
}
.footercontactslist ul li{
    gap:24px;
    list-style-type: none;
    font-size: 22px;
    line-height: 27px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 30px;
    margin-right: 40px;
}
.footercontactslist ul li a{
    text-decoration: none;
    font-size: 22px;
    line-height: 27px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: black;
    margin-right: 0px;
    color:#1E1E1E80;
}
.footercontactslist ul li a .top{
    font-size: 18px;
    line-height: 27px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #1E1E1E;
}
